<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <title>Nutrilabel</title>
        <link rel="stylesheet" type="text/css" href="css/styles.css" >
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    </head>
   
    <body onload="draw();" >
          <div class="row">
            
            <div class="col-sm-8" id = "formSection">
            <form name="generalInput" id = "inputForm">
                <table>
                  <tr>
                    <label for="servingPerCont">Number of Servings Per Container</label>
                    <td>
                      <input name="servingPerCont" type="text" value="9" required>
                    </td>
                  </tr>
                  <tr>
                    <td>Serving Size</td>
                    <td>
                      <input name="servingSize" type="text" value="2/3" required>
                    </td>
                  </tr>
                  <tr>
                    <td>Serving Size Unit</td>
                    <td>
                      <input name="servingSizeUnit" type="text" value="cups" required>
                    </td>
                  </tr>
                  <tr>
                    <td>Serving Size Secondary Unit</td>
                    <td>
                      <input name="servingSizeCalcUnit" type="text" value="g" required>
                    </td>
                  </tr>
                  <tr>
                    <td>Serving Size Secondary Value</td>
                    <td>
                      <input name="servingSizeCalc" type="text" value="100" required>
                    </td>
                  </tr>
                  <tr>
                    <td>Calories</td>
                    <td>
                      <input name="cal" type="text" value="230" required>
                    </td>
                  </tr>
                  <tr>
                    <td>Total Fat</td>
                    <td>
                      <input name="totalFat" type="text" value="8" required>
                    </td>
                  </tr>
                  <tr>
                    <td>Saturated Fat</td>
                    <td>
                      <input name="satFat" type="text" value="1" required>
                    </td>
                  </tr>
                  <tr>
                    <td>Trans Fat</td>
                    <td>
                      <input name="transFat" type="text" value="0" required>
                    </td>
                  </tr>
                  <tr>
                    <td>Cholesterol</td>
                    <td>
                      <input name="cholest" type="text" value="0" required>
                    </td>
                  </tr>
                  <tr>
                    <td>Sodium</td>
                    <td>
                      <input name="sodium" type="text" value="160" required>
                    </td>
                  </tr>
                  <tr>
                    <td>Total Carbohydrates</td>
                    <td>
                      <input name="totalCarbs" type="text" value="37" required>
                    </td>
                  </tr>
                  <tr>
                    <td>Dietary Fiber</td>
                    <td>
                      <input name="fiber" type="text" value="4" required>
                    </td>
                  </tr>
                  <tr>
                    <td>Total Sugars</td>
                    <td>
                      <input name="sugar" type="text" value="12" required>
                    </td>
                  </tr>
                  <tr>
                    <td>Added Sugars</td>
                    <td>
                      <input name="addSugar" type="text" value="10" required>
                    </td>
                  </tr>
                  <tr>
                    <td>Protein</td>
                    <td>
                      <input name="protein" type="text" value="3" required>
                    </td>
                  </tr>
                  <tr>
                    <td>Vitamin D</td>
                    <td>
                      <input name="vitD" type="text" value="2" required>
                    </td>
                  </tr>
                  <tr>
                    <td>Calcium</td>
                    <td>
                      <input name="calcium" type="text" value="260" required>
                    </td>
                  </tr>
                  <tr>
                    <td>Iron</td>
                    <td>
                      <input name="iron" type="text" value="8" required>
                    </td>
                  </tr>
                  <tr>
                    <td>Potassium</td>
                    <td>
                      <input name="pota" type="text" value="235" required>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a class="btn btn-outline-dark" id="download" role="button">Download as image</a>
                    </td>
                  </tr>
                </table>
            </form>
            <script src="/main.js"></script>
            </div>
            
            <div class="col-sm-4" style= "margin-top: 5em; padding:20px; background-color: white;">
              <canvas id="canvas" width="226" height="430"></canvas> 
            </div>
          </div>
    </body>
</html>