<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <title>lbl maker</title>
        <link rel="stylesheet" type="text/css" href="css/styles.css" >
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,900" rel="stylesheet">


        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-66064500-4"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-66064500-4');
        </script>

    </head>
   
    <body onload="draw();" >
        <nav class="navbar" style="z-index: 1; margin-bottom: -70px;">
                <img src="images/lbl_logo_2.png" width="56" height="49" alt="">
        </nav>


        <div class="row">
            
            <div class="col-sm-8" id = "formSection">
            

            <form name="generalInput" id = "inputForm">
                <table>
                  <tr>
                    <td>
                        <label for="servingPerCont">Servings Per Container</label>
                        <input name="servingPerCont" type="text" value="8" onfocus="this.value=''">
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <label for="servingSizeUnit">Serving Size Unit</label>
                        <input name="servingSizeUnit" type="text" value="cups" onfocus="this.value=''">
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <label for="servingSize">Serving Size Quantity</label>
                        <input name="servingSize" type="text" value="2/3" onfocus="this.value=''">
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <label for="servingSizeCalc">Serving Size Quantity in Grams (g)</label>
                        <input name="servingSizeCalc" type="text" value="100" onfocus="this.value=''">
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <label for="cal">Calories</label>
                        <input name="cal" type="text" value="230" onfocus="this.value=''">
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <label for="totalFat">Total Fat (g)</label>
                      <input name="totalFat" type="text" value="8" onfocus="this.value=''">
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <label for="satFat">Saturated Fat (g)</label>
                      <input name="satFat" type="text" value="1" onfocus="this.value=''">
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <label for="transFat">Trans Fat (g)</label>
                      <input name="transFat" type="text" value="0" onfocus="this.value=''">
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <label for="cholest">Cholesterol (mg)</label>
                      <input name="cholest" type="text" value="0" onfocus="this.value=''">
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <label for="sodium">Sodium (mg)</label>
                      <input name="sodium" type="text" value="160" onfocus="this.value=''">
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <label for="totalCarbs">Total Carbohydrates (g)</label>
                      <input name="totalCarbs" type="text" value="37" onfocus="this.value=''">
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <label for="fiber">Dietary Fiber (g)</label>
                      <input name="fiber" type="text" value="4" onfocus="this.value=''">
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <label for="sugar">Sugars (g)</label>
                      <input name="sugar" type="text" value="12" onfocus="this.value=''">
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <label for="addSugar">Added Sugars (g)</label>
                      <input name="addSugar" type="text" value="10" onfocus="this.value=''">
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <label for="protein">Protein (g)</label>
                      <input name="protein" type="text" value="3" onfocus="this.value=''">
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <label for="vitD">Vitamin D (mcg)</label>
                      <input name="vitD" type="text" value="2" onfocus="this.value=''">
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <label for="calcium">Calcium (mg)</label>
                      <input name="calcium" type="text" value="260" onfocus="this.value=''">
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <label for="iron">Iron (mg)</label>
                      <input name="iron" type="text" value="8" onfocus="this.value=''">
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <label for="pota">Potassium (mg)</label>
                      <input name="pota" type="text" value="235" onfocus="this.value=''">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      
                    </td>
                  </tr>
                </table>
            </form>
            
            </div>
            
            <div class="col-sm-4" id="labelSection">
                <div class="sticky-top">
                <table>
                  <tr>
                    <td>
                        <canvas id="canvas" width="226" height="430"></canvas> 
                    </td>
                  </tr>
                  <tr>
                      <td>
                        <p id="basicText" style="">
                            <strong>Basic Nutrition Label</strong>
                        </p>
                        <a href="#" class="hvr-overline-reveal buttonOutline" id="download">
                            Download Free Label</a>
                        </a>             
                      </td>
                  </tr>
                  <tr>
                      <td>
                        <p id="premiumText">
                           <strong>Print Ready Package</strong>
                               <ul id="premiumList">
                                   <li>
                                       6 Different Formats (tabular,....)
                                   </li>
                                    <li>
                                       High Resolution PNG & JPG
                                   </li>
                                   <li>
                                       SVG Vector File *Preferred by Printers*
                                   </li>
                               </ul>
                        <a href="#" class="hvr-overline-reveal button">
                            Print Ready Package
                            <br> 
                            (coming soon)
                        </a>  
                        </p>             
                      </td>
                  </tr>
                </table> 
                </div> 
            </div>
          </div>
          <div class="footer">
              <p>
                  Your use of the Service is at your sole risk. The Service is provided on an "AS IS" and "AS AVAILABLE" basis. The Service is provided without warranties of any kind, whether express or implied, including, but not limited to, implied warranties of merchantability, fitness for a particular purpose, non-infringement or course of performance. There is no warrant that there are any errors or defects will be corrected.

                  By clicking "dowload free label" you agree and understand that there is no accuracy guarantee and you assume all financial and legal liability associated with using the files delivered by this service.
              </p>
              <p>
                  © Copyright 2018 lbl maker . All Rights Reserved.
              </p>
          </div>
          <script src="/main.js"></script>
    </body>
</html>