<!DOCTYPE html>
<html>
<head>
	<meta charset = "UTF-8">
        <title>lbl maker - privacy policy</title>
        <link rel="stylesheet" type="text/css" href="css/styles.css" >
        <script
          src="https://code.jquery.com/jquery-3.3.1.slim.js"
          integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="
          crossorigin="anonymous"></script>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,900" rel="stylesheet">
          
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-66064500-4"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-66064500-4');
        </script>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
        <link rel="shortcut icon" type="image/png" href="images/lblfav.png"/>

</head>
<body>
	  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">
	     <a class="navbar-brand" href="./">
	      <img src="images/lbl_logo_5.png" width="70" height="70" alt="">
	    </a>
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div div class="collapse navbar-collapse" id="navbarSupportedContent">
	      <ul class="navbar-nav mr-auto">
	        <li class="nav-item">
	          <a class="nav-link" href="/supplement">Supplement Label</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="mailto:lblmaker1@gmail.com?Subject=Feedback%20Nutrition%20Label"">Leave Feedback</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="/blog">Blog</a>
	        </li>
	      </ul>
	    </div>
	  </nav>
      
	<div class = "mainContainer textpage">
		<h4>
			Information We Collect
		</h4>
		<p>
			When you visit our website: Our servers automatically log your computer’s Internet Protocol (IP) address, your browser type and version, the pages you visit, the time and date of your visit, the time spent on each page, and other standard data provided by your web browser.
		</p>
		<h4>
			Disclosure of personal information to third parties
		</h4>
		<p>
			lblmaker.com is supported by third-party providers to facilitate the provision of a transactional website. These include DNS management, web hosting, and Google Analytics.
			<br><br>
			We will comply with government and law enforcement requests for data, as required by law, in connection with any actual or prospective legal proceedings, or in order to establish, exercise or defend our legal rights.
			<br><br>
			We do not sell or rent your personal information to marketers or third parties.
		</p>
		<h4>
			Cookies
		</h4>
		<p>
			A cookie is a small piece of data that our website stores on your computer, and accesses each time you visit, so we can perform certain functions and understand how you use our site. We use first-party and third-party cookies to enable website analytics.
			<br><br>
			If you do not wish to accept cookies from us, you should instruct your browser to refuse cookies from https://lblmaker.com, understanding that we may be unable to provide you with generated Terms of Service and Privacy Policy statements without them.
		</p>
		<h4>
			About This Policy
		</h4>
		<p>
			This privacy policy only covers lblmaker.com's own collecting and handling of data. We only work with partners and third-party providers whose privacy policies align with ours, however we cannot accept responsibility or liability for their respective privacy practices.
			<br><br>
			Our website may link to external sites that are not operated by us. Please be aware that we have no control over the content and policies of those sites, and cannot accept responsibility or liability for their respective privacy practices.
			<br><br>
			At our discretion, we may update this policy to reflect current acceptable practices. We will take reasonable steps to let users know about significant changes via our website. Your continued use of this site after any changes to this policy will be regarded as acceptance of our practices around data and personal information.
			<br><br>
			If you have any concerns or questions about how we handle your data and personal information, feel free to contact us at lblmaker1@gmail.com
			<br><br>
			This policy is effective as of 21 June 2018.
		</p>
</body>
</html>