<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <title>lbl maker - nutrition label</title>
        <link rel="stylesheet" type="text/css" href="css/styles.css" >
        <script
          src="https://code.jquery.com/jquery-3.3.1.slim.js"
          integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="
          crossorigin="anonymous"></script>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,900" rel="stylesheet">
          
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-66064500-4"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-66064500-4');
        </script>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
        <link rel="shortcut icon" type="image/png" href="images/lblfav.png"/>
        <script type="text/javascript" src="/main.js" async></script>
        
    </head>
   
    <body>

      <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">
         <a class="navbar-brand" href="./">
          <img src="images/lbl_logo_5.png" width="70" height="70" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="./">Nutrition Label</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="mailto:lblmaker1@gmail.com?Subject=Feedback%20Nutrition%20Label"">Leave Feedback</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/blog">Help/Guides</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class = "mainContainer">
        <div class="notice">
          <h3>Free Supplement Label Maker</h3>
          <p>
            Create a customized supplement label for your food and beverage product. The FDA mandated that you required to upgrade your existing label to this new format by January 1, 2020. 
          </p>  
        </div>
        <div style="border: .5px solid #999; margin-bottom: 40px;"></div>
        
        <div class="row">    
          <div class="col-md-8" id = "formSection">
            <form name="supplement" id = "inputForm" >
                 <div class = "form-group row activeitem" id = "inputTemplate">
                      <label class="col-6 col-form-label" for="servingSize">Serving Size</label>
                      <div class="col-md-6">
                         <input name="servingSize" type="text" value="1 packet" onfocus="this.value=''">
                      </div>
                </div>
                <div class = "form-group row activeitem" id = "inputTemplate">
                      <label class="col-6 col-form-label" for="servingPerCont">Servings Per Container</label>
                      <div class="col-md-6">
                         <input name="servingPerCont" type="text" value="8" onfocus="this.value=''">
                      </div>
                </div>
                <div class = "form-group row hideForm activeitem" id = "customInputTemplate">
                    <div class="col-md-6">
                      <input class = "customtitle" list="dvlist" name="customtitle" type="text" placeholder="Nutrient/Vitamin Name">
                      <datalist id="dvlist"></datalist>
                    </div>
                    <div class="col-md-2">
                      <input class = "customvalue" name="customvalue" type="text" placeholder="Qty">
                    </div>
                    <div class="col-md-4">
                      <input class="customunit" name="customunit" type="text" placeholder="Units">
                      <span class="optionalbtn" onclick="deleteCustomItem(this);"><i class="far fa-trash-alt"></i></span>
                    </div>
                </div>
            </form>
            <div>
                  <div class="col-md-12" style="text-align: center; padding-top: 10px;">
                    <span class="newbtn" onclick="addCustomItem(this);"><i class="fas fa-plus-circle"></i></span>
                  </div>
                </div>
            
            </div>
            
            <div class="col-md-4">
              <div class="sticky-top" id="labelSection">
                <table>
                  <tr>
                    <td>
                        <canvas id="canvas"></canvas> 
                    </td>
                  </tr>
                  <tr>
                      <td>
                        <a href="#" class="hvr-overline-reveal button" id="download">
                            Download Free Label</a>
                        </a>             
                      </td>
                  </tr>
                  <tr>
                      <td>
                        <div class="printready">
                          <h3>
                            Print-ready Package
                          </h3>
                            <ul>
                              <li>
                                High-Res PNG,JPG, SVG Files
                              </li>
                              <li>
                                All Formats (tabular, linear, simplified)
                              </li>
                              <li>
                                Full-Package Download
                              </li>
                            </ul>         
                          <a href="#" class="hvr-overline-reveal button" id="download_printready">
                            Print-Ready Package: $19</a>

                        </div>
                      </td>
                  </tr>
                </table> 
              </div>
            </div>
          </div>
        </div>
        <div class="footer">
              <p>
                  Your use of the Service is at your sole risk. The Service is provided on an "AS IS" and "AS AVAILABLE" basis. The Service is provided without warranties of any kind, whether express or implied, including, but not limited to, implied warranties of merchantability, fitness for a particular purpose, non-infringement or course of performance. There is no warrant that there are any errors or defects will be corrected.

                  By clicking "dowload label" you agree and understand that there is no accuracy guarantee and you assume all financial and legal liability associated with using the files delivered by this service.
              </p>
              <p>
                  © Copyright 2018 lbl maker . All Rights Reserved. <a href="./privacy">Privacy Policy</a> <a href="./terms">Terms of Use</a>
              </p>
        </div>


    </body>
</html>