<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <title>lbl maker - nutrition label</title>
        <link rel="stylesheet" type="text/css" href="css/styles.css" >
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.2/awesomplete.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.2/awesomplete.js" async></script>
        
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,900" rel="stylesheet">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-66064500-4"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-66064500-4');
        </script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        
        <script type="text/javascript" src="/main.js" async></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

        <link rel="shortcut icon" type="image/png" href="images/lblfav.png"/>


        
    </head>
   
    <body>
        <nav class="subnav">
             <span class="navbutton">
               <a href="./">NUTRITION LABEL</a> 
             </span>
             <span class="navbutton">
                <a href="mailto:lblmaker1@gmail.com?Subject=Feedback%Supplement%20Label" target="_top">FEEDBACK</a> 
             </span>
              <span class="navbutton">
                <a href="">LEARN MORE</a> 
             </span>
        </nav>

        <nav class="navbar navbar-expand-lg">
          <div class="mx-auto ">
               <a class="navbar-brand mx-auto" href="./">
                <img src="images/lbl_logo_4.png" width="70" height="70" alt="">
              </a>
          </div>
        </nav>

      <div class = "mainContainer">
        
        <div class="notice">

        </div>
        <div class="row">    
          <div class="col-sm-8" id = "formSection">
            <form name="supplement" id = "inputForm" >
                 <div class = "form-group row activeitem" id = "inputTemplate">
                      <label class="col-6 col-form-label" for="servingSize">Serving Size</label>
                      <div class="col-sm-6">
                         <input name="servingSize" type="text" value="1 packet" onfocus="this.value=''">
                      </div>
                </div>
                <div class = "form-group row activeitem" id = "inputTemplate">
                      <label class="col-6 col-form-label" for="servingPerCont">Servings Per Container</label>
                      <div class="col-sm-6">
                         <input name="servingPerCont" type="text" value="8" onfocus="this.value=''">
                      </div>
                </div>
                <div class = "form-group row hideForm activeitem" id = "customInputTemplate">
                    <div class="col-sm-6">
                      <input class = "customtitle" list="dvlist" name="customtitle" type="text" placeholder="Nutrient/Vitamin Name">
                      <datalist id="dvlist"></datalist>
                    </div>
                    <div class="col-sm-2">
                      <input class = "customvalue" name="customvalue" type="text" placeholder="Qty">
                    </div>
                    <div class="col-sm-4">
                      <input class="customunit" name="customunit" type="text" placeholder="Units">
                      <span class="optionalbtn" onclick="deleteCustomItem(this);"><i class="far fa-trash-alt"></i></span>
                    </div>
                </div>
            </form>
            <div>
                  <div class="col-sm-12" style="text-align: center; padding-top: 10px;">
                    <span class="newbtn" onclick="addCustomItem(this);"><i class="fas fa-plus-circle"></i></span>
                  </div>
                </div>
            
            </div>
            
            <div class="col-sm-4">
              <div class="sticky-top" id="labelSection">
                <table>
                  <tr>
                    <td>
                        <canvas id="canvas"></canvas> 
                    </td>
                  </tr>
                  <tr>
                      <td>
                        <a href="#" class="hvr-overline-reveal button" id="download">
                            Download Label</a>
                        </a>             
                      </td>
                  </tr>
                </table> 
              </div>
            </div>
          </div>
        </div>
        <div class="footer">
              <p>
                  Your use of the Service is at your sole risk. The Service is provided on an "AS IS" and "AS AVAILABLE" basis. The Service is provided without warranties of any kind, whether express or implied, including, but not limited to, implied warranties of merchantability, fitness for a particular purpose, non-infringement or course of performance. There is no warrant that there are any errors or defects will be corrected.

                  By clicking "dowload label" you agree and understand that there is no accuracy guarantee and you assume all financial and legal liability associated with using the files delivered by this service.
              </p>
              <p>
                  © Copyright 2018 lbl maker . All Rights Reserved.
              </p>
        </div>


    </body>
</html>